@import url('https://fonts.googleapis.com/css2?family=Cascadia+Mono:ital,wght@0,200..700;1,200..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

*,
::before,
::after {
    box-sizing: border-box;
}

:root {
    --lightest: #505050;
    --lighter: #3a3a3a;
    --light: #2a2a2a;
    --background: #202020;
    --dark: #1a1a1a;
    --darker: #0f0f0f;
    --text: #f0f0f0;
    --muted: #aaa;
    --primary-dark: #9c862e;
    --primary: #ffcc00;
    --highlight: #ffdb4d;
    --red: #db362a;
    --red-light: #f4392c;

    --font: Inter, 'Segoe UI', Arial, Helvetica, Tahoma, Geneva, Verdana, sans-serif;
    --font-mono: 'Cascadia Mono', 'Courier New', Courier, monospace;
}

::selection {
    background-color: var(--primary);
    color: black;
}

html,
body {
    margin: 0;
    padding: 0;
    font-family: Inter, Arial, Helvetica, sans-serif;
    font-size: 1.2em;
    width: 100%;
    height: 100%;
    max-width: 100%;
    overflow-x: hidden;
    min-height: 100vh;
    scrollbar-color: var(--primary) transparent;
    scroll-behavior: smooth;
}

body {
    font-size: 1rem;
    background-color: var(--background);
    color: var(--text);
}

.mono {
    font-family: var(--font-mono) !important;
}

main {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

#login-panel {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    flex-grow: 1;
    padding: 12px;
}

form {
    width: 100%;
    max-width: 600px;
    border: 2px solid var(--lighter);
    background-color: var(--light);
    border-radius: 12px;
    min-height: 512px;
    height: auto;
    color: var(--text);
    padding: 12px;
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    align-items: center;
    width: 100%;
    height: 72px;
    font-size: 1.5rem;
    text-align: center;
}

.header h1 {
    flex-grow: 1;
    text-align: center;
    font-size: inherit;
    text-align: inherit;
}

.header img {
    height: 100%;
    width: auto;
}

form h3 {
    text-align: center;
    color: var(--muted);
    margin: 0;
    font-size: 1rem;
}

form .row {
    display: flex;
    align-items: center;
    margin: 8px 0;
}

form .row label {
    display: block;
    padding: 6px 12px;
    flex: 0 1 40%;
    min-width: 0;
}

form .row input[type='checkbox'] {
    width: 20px;
    height: 20px;
    flex-grow: 0 !important;
}

form .row input:not([type='submit']) {
    display: block;
    flex-grow: 1;
}

form .row input[type='submit'] {
    margin: 0 auto;
}

.error,
.success,
.warn {
    --color: 179, 29, 27;
    display: block;
    width: 100%;
    margin: 0;
    padding: 20px;
    border: 1px solid rgba(var(--color), 0.3);
    background-color: rgba(var(--color), 0.2);
    color: white;
    border-radius: 12px;
}

.success { --color: 103, 179, 27; }
.warn { --color: 198, 172, 22; }

.textfield {
    background-color: var(--light);
    border: 2px solid var(--lighter);
    transition: background-color 0.2s ease-out;
    font-size: 1rem;
    border-radius: 8px;
    padding: 4px 8px;
    font-family: var(--font);
    color: var(--text);
    min-width: 0;
}

.textfield::placeholder {
    color: var(--muted);
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
}

.textfield:hover,
.textfield:focus-visible {
    background-color: var(--lighter);
    border-color: var(--lightest);
    outline: none;
}

button,
.button,
input[type="button"],
input[type="submit"] {
    display: block;
    outline: 0;
    border: 0;
    text-decoration: 0;
    background-color: var(--primary);
    color: black;
    padding: 14px 64px;
    font-size: 1rem;
    border-radius: 8px;
    transition: background-color .2s ease-out;
    cursor: pointer;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
}

button:hover,
.button:hover,
input[type="button"]:hover,
input[type="submit"]:hover {
    background-color: var(--highlight);
}

button:disabled,
.button:disabled,
input[type="button"]:disabled,
input[type="submit"]:disabled {
    background-color: var(--primary-dark);
    cursor: not-allowed;
}

.red-btn {
    background-color: var(--red);
    color: white;
}

.red-btn:hover {
    background-color: var(--red-light);
}

main.panels {
    flex-direction: row;
    width: 100%;
    align-items: stretch;
}

main.panels .left-panel {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    min-width: 400px;
    flex-grow: 1;
    background-color: var(--background);
    border-right: 2px solid var(--lighter);
    padding: 16px;
}

main.panels .panel-cont {
    flex-grow: 1;
    min-width: 0;
}

main.panels .header {
    font-size: 1rem;
    height: 40px;
    text-align: left;
}

main.panels .header h1 {
    margin-left: 20px;
}

main.panels .button-list {
    flex-grow: 1;
    width: 100%;
    padding: 12px;
    padding-top: 64px;
    display: flex;
    flex-direction: column;
    gap: 4px;
}

main.panels .tab-btn {
    outline: 0;
    border: 0;
    font-size: 1rem;
    width: 100%;
    padding: 6px;
    background-color: transparent !important;
    color: var(--text);
    text-align: left;
    font-weight: bold;
}

main.panels .tab-btn i {
    margin-right: 20px;
    color: inherit;
}

main.panels .tab-btn:hover {
    background-color: var(--lighter) !important;
}

main.panels .tab-btn.active {
    background-color: var(--primary) !important;
    color: black;
}

main.panels .panel-cont .panel {
    width: 100%;
    height: 100%;
    padding: 32px;
    display: flex;
    flex-direction: column;
}

main.panels .panel-cont .panel h1 {
    display: block;
    padding-bottom: 20px;
    border-bottom: 1px solid var(--lighter);
}

main.panels .panel #log-cont {
    display: flex;
    flex-direction: column;
    gap: 20px;
    flex-grow: 1;
    width: 100%;
    max-width: 100%;
    min-width: 0;
    overflow-y: auto;
    padding: 32px 0;
    padding-right: 16px;
    mask-image: linear-gradient(transparent 0%,
            black calc(0% + 10px),
            black calc(100% - 10px),
            transparent 100%);
    -webkit-mask-image: linear-gradient(transparent 0%,
            black calc(0% + 10px),
            black calc(100% - 10px),
            transparent 100%);
}

main.panels .panel .log-btns {
    display: flex;
    gap: 12px;
}

main.panels .panel .log-btns .tool-btn {
    padding: 8px;
}

main.panels .panel-cont .panel .log {
    min-height: 64px;
    border-radius: 12px;
    overflow: hidden;
    width: 100%;
    max-width: 100%;
    min-width: 0;
    background-color: var(--light);
    color: var(--text);
    font-size: 1.5rem;
    display: flex;
    flex-direction: column;
    white-space: normal;
    flex-shrink: 0;
}

main.panels .panel-cont .panel .log .content {
    overflow: hidden;
    height: 0;
    min-height: 0;
    width: 100%;
    max-width: 100%;
    transition: height .3s ease, min-height .3s ease;
}

main.panels .panel-cont .panel .log .data {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 16px;
    min-height: 100px;
    height: max-content;
}

main.panels .panel-cont .panel .log .data .entry {
    display: flex;
    flex-direction: column;
    background-color: var(--lighter);
    border-radius: 8px;
    padding: 16px;
    font-size: .9rem;
    font-family: var(--font-mono);
    color: var(--text);
}

main.panels .panel-cont .panel .log .data .title {
    font-weight: bold;
    font-size: 1.1rem;
    margin-bottom: 16px;
}

main.panels .panel-cont .panel .log .data .data-list {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

main.panels .panel-cont .panel .log .data .data-row {
    display: flex;
    gap: 4px;
    min-width: 0;
    min-height: 0;
}

main.panels .panel-cont .panel .log .data .title i {
    margin-right: 20px;
}

main.panels .panel-cont .panel .log .data .data-row span {
    display: inline-block;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    min-width: 0;
}

main.panels .panel-cont .panel .log .data .data-row span:first-child {
    display: inline-block;
    min-width: 180px;
    font-weight: bold;
}

main.panels .panel-cont .panel .log:hover .top {
    background-color: var(--lighter);
}

main.panels .panel-cont .panel .log .top {
    display: flex;
    align-items: center;
    padding: 16px;
    transition: background .2s ease-out;
    cursor: pointer;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    font-family: var(--font-mono);
}

main.panels .panel-cont .panel .log .top i.logo-icon {
    margin-right: 32px;
}

main.panels .panel-cont .panel .log .top .title {
    font-weight: bold;
}

main.panels .panel-cont .panel .log .top .id {
    font-size: 1.1rem;
    margin-left: 20px;
}

main.panels .panel-cont .panel .log .top .requests {
    color: var(--muted);
    font-size: 1rem;
    min-width: 160px;
    text-align: right;
}

main.panels .panel-cont .panel .log .top .tool-btn {
    font-size: 1.2rem;
}

main.panels .panel-cont .panel .log .top i.dropdown-icon {
    font-size: 1.4rem;
    margin-left: 20px;
}

.tool-btn {
    background-color: transparent;
    color: var(--muted);
    padding: 4px;
    transition: color .2s ease-out, background .2s ease-out;
}

.tool-btn:hover {
    background-color: rgba(255, 255, 255, .1 );
    color: white;
}

.tool-btn.bigger {
    padding: 14px 32px;
}

.tooltip {
    position: relative;
}

.tooltip::after {
    content: attr(tooltip-text);
    position: absolute;
    display: inline-block;
    white-space: nowrap;
    font-size: .8rem;
    border-radius: 5px;
    background: rgba(20, 20, 20, .9);
    color: rgb(232, 232, 232);
    padding: 6px 8px;
    bottom: -12px;
    left: 50%;
    transform: translate(-50%, 100%);
    opacity: 0;
    transition: opacity .1s ease-out .2s;
    pointer-events: none;
    z-index: 1000;
}

.tooltip.tooltip-top::after {
    bottom: calc(100% + 14px);
    transform: translate(-50%, 0);
}

.tooltip.tooltip-left::after {
    top: 50%;
    right: 100%;
    bottom: auto;
    left: auto;
    transform: translate(-14px, -50%);
}

.tooltip.tooltip-right::after {
    top: 50%;
    right: auto;
    left: 100%;
    bottom: auto;
    transform: translate(14px, -50%);
}

.tooltip.tooltip-top::before {
    bottom: calc(100% + 5px);
    border-color: transparent;
    border-top-color: rgba(20, 20, 20, .9);
}

.tooltip.tooltip-left::before {
    right: calc(100% + 5px);
    bottom: auto;
    left: auto;
    top: 50%;
    border-color: transparent;
    border-left-color: rgba(20, 20, 20, .9);
    transform: translate(0, -50%);
}

.tooltip.tooltip-right::before {
    left: calc(100% + 5px);
    bottom: auto;
    right: auto;
    top: 50%;
    border-color: transparent;
    border-right-color: rgba(20, 20, 20, .9);
    transform: translate(0, -50%);
}

.tooltip::before {
    content: '';
    position: absolute;
    left: 50%;
    bottom: -12px;
    transform: translate(-50%);
    border: 5px solid transparent;
    border-bottom-color: rgba(20, 20, 20, .9);
    opacity: 0;
    transition: opacity .1s ease-out .2s;
    pointer-events: none;
    z-index: 1000;
}

.tooltip:hover::after,
.tooltip:hover::before {
    opacity: 1;
}

.hidden {
    display: none !important;
}

.modal {
    position: fixed;
    inset: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, .1);
    backdrop-filter: blur(8px);
}

.modal-box {
    display: flex;
    flex-direction: column;
    background-color: var(--light);
    border: 2px solid var(--primary);
    padding: 32px;
    border-radius: 20px;
    min-height: 400px;
    min-width: 640px;
}

.modal-box h1 {
    color: white;
    align-self: stretch;
    font-size: 1.5rem;
    padding-bottom: 16px;
    border-bottom: 1px solid var(--primary);
    margin: 0;
    margin-bottom: 20px;
    text-align: center;
}