<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>{{ title }} – TerebeSPY</title>
<link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='fontawesome/css/fontawesome.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='fontawesome/css/regular.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='fontawesome/css/solid.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='fontawesome/css/brands.css') }}">
<link rel="shortcut icon" href="{{ url_for('static', filename='icon.png') }}" type="image/x-icon">