<a type="button" class="tab-btn button {{ 'active' if active == 0 else '' }}" href="/admin"><i class="fa fa-book"></i>Logs</a>
<a type="button" class="tab-btn button {{ 'active' if active == 1 else '' }}" href="/config"><i class="fa fa-shield-keyhole"></i>Security</a>
<div style="flex-grow: 1;"></div>
<a type="button" class="tab-btn button" href="https://github.com/FireFox986543/terebespy" target="_blank" rel="noopener noreferrer"><i class="fa-brands fa-github"></i>GitHub</a>
<button type="button" class="tab-btn" onclick="signOut()"><i class="fa fa-left-from-bracket"></i>Sign out</button>